<!doctype html>
<html ng-app>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="css/bootstrap.css"/>
        <script src="scripts/angular.js"></script>
        <script>
            function BindState($scope, $http) {
                $scope.doAll = function() {
                    var url = "work?action=listcards";
                    //console.dir(url);
                    $http.get(url, {params: {t: "all"}}).success(function(data) {
                        if(data && data.group) {
                            $scope.cards = data.group;
                        }
                    });
                }
                $scope.setCard = function(card) {
                    $scope.selectCard = card;
                }
                $scope.kk = "index";
                $scope.doAll();

                $scope.doUpdate = function() {
                    var url = "work?action=setcard";
                    if($scope.selectCard) {
                        $http.get(url, {params: {id: $scope.selectCard.id, name: $scope.selectCard.name, role: $scope.selectCard.role, info: $scope.selectCard.info}}).success(function(data) {
                            $scope.selectCard = data;
                            $scope.doAll();
                        });
                        
                    }
                }
            }
        </script>
    </head>
    <body>

        <div class="container">


            <div ng-controller="BindState">

                <form ng-submit="doUpdate()" >
                    Id&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:<input ng-model="selectCard.id" /><br>
                    name:<input ng-model="selectCard.name" /><br>
                    role&nbsp;&nbsp;&nbsp;:<select ng-model="selectCard.role">
                    <option value='worker'>worker</option>
                    <option value='staff'>staff</option>
                    <option value='guard'>guard</option>
                    <option value='admin'>VIP</option>
                    </select><br>
                    info&nbsp;&nbsp;&nbsp;:<input ng-model="selectCard.info"><br>
                    date&nbsp;&nbsp;:{{ selectCard.createTime | date:'yyyy-MM-dd HH:mm:ss' }} <br>
                    lastLocate:{{ selectCard.lastLocate}} <br>
                    lastTime:{{ selectCard.lastTime | date:'yyyy-MM-dd HH:mm:ss' }} <br>
                    <input type="submit" value="新增/更新"/>
                </form>
                <p><p>

                <table class="table table-bordered">
                    <tr>
                        <th><a href="" ng-click="kk = 'index'; reverse=false">index</a></th>
                        <th><a href="" ng-click="kk = 'id'; reverse=!reverse">id</a></th>
                        <th><a href="" ng-click="kk = 'name'; reverse=!reverse">name</a></th>
                        <th><a href="" ng-click="kk = 'role'; reverse=!reverse">role</a></th>
                        <th><a href="" ng-click="kk = 'info'; reverse=!reverse">info</a></th>
                        <th><a href="" ng-click="kk = 'createTime'; reverse=!reverse">createTime</a></th>
                        <th><a href="" ng-click="kk = 'lastLocate'; reverse=!reverse">lastLocate</a></th>
                        <th><a href="" ng-click="kk = 'lastTime'; reverse=!reverse">lastTime</a></th>
                    </tr>
                    <tr ng-repeat="card in cards | orderBy:kk:reverse" ng-click="setCard(card)">
                        <td>{{$index + 1}}</td>
                        <td>{{card.id}}</td>
                        <td>{{card.name}}</td>
                        <td>{{card.role}}</td>
                        <td>{{card.info}}</td>
                        <td>{{card.createTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                        <td>{{card.lastLocate}}</td>
                        <td>{{card.lastTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </body>
</html>