<!doctype html>
<html ng-app>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="css/bootstrap.css"/>
        <script src="scripts/angular.js"></script>
        <script>
            function BindState($scope, $http ) {
                $scope.doAll = function() {
                    var url = "work?action=listcards";
                    //console.dir(url);
                    $http.get(url, {params: {t: "all"}}).success(function(data) {
                        if(data && data.group) {
                            var theCards = [];
                            for(var k in data.group) {
                                theCards.push(data.group[k]);
                            }
                            $scope.cards = theCards;
                            console.dir(theCards)
                        }
                    });
                }
                $scope.setCard = function(card) {
                    $scope.selectCard = card;
                }
                $scope.kk = "role";
                $scope.doAll();

                $scope.doUpdate = function() {
                    var url = "work?action=setcard";
                    if($scope.selectCard) {
                        $http.get(url, {params: {id: $scope.selectCard.id, name: $scope.selectCard.name, role: $scope.selectCard.role, info: $scope.selectCard.info,actived:$scope.selectCard.actived}}).success(function(data) {
                            $scope.selectCard = data;
                            $scope.doAll();
                        });

                    }
                }
                $scope.getActive = function(){
                    return ''+$scope.selectCard.actived;
                }
            }
        </script>
    </head>
    <body>
         <div style="margin-top: 20px"></div>
        <div class="container-fluid" ng-controller="BindState">
            <div class="row-fluid">
                <div class="span3" style="width: 258px;">
                <form ng-submit="doUpdate()" style="position:fixed;background: white; ">
                    Id&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:<input ng-model="selectCard.id" /><br>
                    name:<input ng-model="selectCard.name" /><br>
                    role&nbsp;&nbsp;&nbsp;:<select ng-model="selectCard.role">
                    <option value='Worker'>Worker</option>
                    <option value='Officer'>Officer</option>
                    <option value='Security'>Security</option>
                    <option value='VIP'>VIP</option>
                    </select><br>
                    info&nbsp;&nbsp;&nbsp;:<input ng-model="selectCard.info"><br>
                    isActived&nbsp;&nbsp;&nbsp;:
                    <input type="radio" ng-model="selectCard.actived" ng-value="true"> true
                    <input type="radio" ng-model="selectCard.actived" ng-value="false"> false <br>
                    date&nbsp;&nbsp;:{{ selectCard.createTime | date:'yyyy-MM-dd HH:mm:ss' }} <br>
                    lastLocate:{{ selectCard.lastLocate}} <br>
                    lastTime:{{ selectCard.lastTime | date:'yyyy-MM-dd HH:mm:ss' }} <br>
                    <input type="submit" value="新增/更新"/>
                </form>
                <p><p>
                </div>
                <div class="span9">
                    <pre>Display:<select ng-model="displayDeactive">
                    <option value=''>All item</option>
                    <option value='true'>Only active item</option>
                    <option value='false'>Only deactive item</option>
                    </select>  Search: <input ng-model="searchText"></pre>
                <table class="table table-bordered">
                    <tr>
                        <th><a href="" ng-click="kk = 'index'; reverse=false">index</a></th>
                        <th><a href="" ng-click="kk = 'id'; reverse=!reverse">id</a></th>
                        <th><a href="" ng-click="kk = 'name'; reverse=!reverse">name</a></th>
                        <th><a href="" ng-click="kk = 'name'; reverse=!reverse">actived</a></th>
                        <th><a href="" ng-click="kk = 'role'; reverse=!reverse">role</a></th>
                        <th><a href="" ng-click="kk = 'info'; reverse=!reverse">info</a></th>
                        <th><a href="" ng-click="kk = 'createTime'; reverse=!reverse">createTime</a></th>
                        <th><a href="" ng-click="kk = 'lastLocate'; reverse=!reverse">lastLocate</a></th>
                        <th><a href="" ng-click="kk = 'lastTime'; reverse=!reverse">lastTime</a></th>
                    </tr>
                    <tr ng-repeat="card in cards | filter:searchText | filter:displayDeactive | orderBy:kk:reverse" ng-click="setCard(card)">
                        <td>{{$index + 1}}</td>
                        <td>{{card.id}}</td>
                        <td>{{card.name}}</td>
                        <td>{{card.actived}}</td>
                        <td>{{card.role}}</td>
                        <td>{{card.info}}</td>
                        <td>{{card.createTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                        <td>{{card.lastLocate}}</td>
                        <td>{{card.lastTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                    </tr>
                </table>
                </div>
            </div>
        </div>
    </body>
</html>