<!doctype html>
<html ng-app>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="css/bootstrap.css"/>
        <style>
            
        </style>
        <script src="scripts/angular.js"></script>
        <script>
            function BindState($scope, $http) {
                $scope.doAll = function() {
                    var url = "work?action=listdevices";
                    //console.dir(url);
                    $http.get(url).success(function(data) {
                        if(data && data.group) {
                            var arr = [];
                            for(var k in data.group) {
                                arr.push(data.group[k]);
                            }
                            $scope.devices = arr;
                        }
                    });
                };
                
                $scope.setDevice = function(device) {
                    $scope.selectDevice = device;
                };
                
                $scope.disablesubmit = "true";
                $scope.kk = "locate";
                $scope.doAll();

                $scope.doUpdate = function() {
                    $scope.disablesubmit = "true";
                    var url = "work?action=setdevice";
                    if($scope.selectDevice) {
                        $http.get(url, {params: {id: $scope.selectDevice.id, locate: $scope.selectDevice.locate, info: $scope.selectDevice.info,actived: $scope.selectDevice.actived}}).success(function(data) {
                            $scope.selectDevice = data;
                            $scope.doAll();
                        });
                    }
                };
            }
        </script>
    </head>
    <body>
    <div style="margin-top: 80px"></div>
        <div class="container-fluid"  ng-controller="BindState">
            <div  class="row-fluid">
                <div class="span3" style="width:260px;">
                <form ng-submit="doUpdate()" >
                    Id&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:<input ng-model="selectDevice.id" /><br>
                    locate:<select ng-model="selectDevice.locate">
                                <option  value ='building1'> building1 </option>
                                <option  value ='building2'> building2 </option>
                                <option  value ='factory'> factory </option>
                                <option  value ='outside'> outside </option>
                    </select> <br>
                    info&nbsp;&nbsp;&nbsp;&nbsp;:<input ng-model="selectDevice.info"><br>
                    date&nbsp;&nbsp;:{{ selectDevice.createTime | date:'yyyy-MM-dd HH:mm:ss' }} <br>

                    isActived&nbsp;&nbsp;&nbsp;:
                    <input type="radio" ng-model="selectDevice.actived" ng-value="true"> true
                    <input type="radio" ng-model="selectDevice.actived" ng-value="false"> false <br>


                    <input type="submit" ng-disable='true' value="新增/更新"/>

                </form>
                <p><p>
                 </div>
                <div class="span9">
                <table class="table table-bordered">
                    <tr>
                        <th><a href="" ng-click="kk = 'index'; reverse=false">index</a></th>
                        <th><a href="" ng-click="kk = 'id'; reverse=!reverse">id</a></th>
                        <th><a href="" ng-click="kk = 'name'; reverse=!reverse">actived</a></th>
                        <th><a href="" ng-click="kk = 'locate'; reverse=!reverse">locate</a></th>
                        <th><a href="" ng-click="kk = 'info'; reverse=!reverse">info</a></th>
                        <th><a href="" ng-click="kk = 'createTime'; reverse=!reverse">createTime</a></th>
                    </tr>
                    <tr ng-repeat="device in devices | orderBy:kk:reverse" ng-click="setDevice(device)">
                        <td>{{$index + 1}}</td>
                        <td>{{device.id}}</td>
                        <td>{{device.actived}}</td>
                        <td>{{device.locate}}</td>
                        <td>{{device.info}}</td>
                        <td>{{device.createTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                    </tr>
                </table>
                </div>
            </div>
        </div>
    </body>
</html>