<!doctype html>
<html ng-app>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="css/bootstrap.css"/>
        <script src="scripts/angular.js"></script>
        <script>
            function BindState($scope, $http) {
                $scope.doAll = function() {
                    var url = "work?action=listdevices";
                    //console.dir(url);
                    $http.get(url).success(function(data) {
                        if(data && data.rows) {
                            $scope.devices = data.rows;
                        }
                    });
                }
                $scope.setDevice = function(device) {
                    $scope.selectDevice = device;
                }
                $scope.kk = "index";
                $scope.doAll();

                $scope.setParam = function() {
                    var url = "work?action=setdevice";
                    if($scope.selectDevice) {
                        $http.get(url, {params: {id: $scope.selectDevice.id, locate: $scope.selectDevice.locate, info: $scope.selectDevice.info}}).success(function(data) {
                            $scope.info = data;
                        });
                        
                    }
                }
            }
        </script>
    </head>
    <body>

        <div class="container">


            <div ng-controller="BindState">

                <form ng-submit="setParam()" >
                    Id&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:<input disabled="true" ng-model="selectDevice.id" /><br>
                    <!--locate:<input ng-model="selectDevice.locate"><br>-->
                    locate:<select ng-model="selectDevice.locate">
                                <option ng-repeat> </option>
                    </select> <br>
                    info&nbsp;&nbsp;&nbsp;&nbsp;:<input ng-model="selectDevice.info"><br>
                    <input type="submit" value="设置"/>
                </form>
                <p><p>

                <table class="table table-bordered">
                    <tr>
                        <th><a href="" ng-click="kk = 'index'; reverse=false">index</a></th>
                        <th><a href="" ng-click="kk = 'id'; reverse=!reverse">id</a></th>
                        <th><a href="" ng-click="kk = 'locate'; reverse=!reverse">locate</a></th>
                        <th><a href="" ng-click="kk = 'info'; reverse=!reverse">info</a></th>
                        <th><a href="" ng-click="kk = 'createTime'; reverse=!reverse">createTime</a></th>
                    </tr>
                    <tr ng-repeat="device in devices | orderBy:kk:reverse" ng-click="setDevice(device)">
                        <td>{{$index + 1}}</td>
                        <td>{{device.id}}</td>
                        <td>{{device.locate}}</td>
                        <td>{{device.info}}</td>
                        <td>{{device.createTime}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </body>
</html>