<!DOCTYPE html>
<html ng-app>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/feedback.css"/>
    <link rel="stylesheet" href="css/bootstrap.css"/>
    <script src="scripts/angular.js"></script>
    <script type="text/javascript" src="scripts/jquery-1.7.js"></script>
    <script>
         function feedbackCtrl($scope,$http){
            $scope.showFeedbacks = function(){

                 $http.get("work?action=listfeedbacks&t="+new Date().getTime()).success(function(data){
                     if(data){
                         $scope.feedbacks = data;
                     }
                 });
             };
             $scope.newFeedback = null;
             $scope.addFeedback = function(){

                 var url = "work?action=addfeedback";
                 if ($scope.newFeedback) {
//                     $http.get(url, {params: {username: $scope.newFeedback.username, proposal: $scope.newFeedback.proposal, email: $scope.newFeedback.email}}).success(function (data) {

                    $http({
                        url: url,
                        method: "POST" ,
                        data: {username: $scope.newFeedback.username, proposal: $scope.newFeedback.proposal, email: $scope.newFeedback.email}
                    }).success(function (data) {
                         $scope.feedbacks = data;
                         $scope.newFeedback = null;
                     });
                 }
             };

             $scope.showReplyArea = function($event,proposal){
                 var $currDiv = $($event.target).parent();
                 var $replyTextArea = $currDiv.find(".replytext");
                 var $prepart = $currDiv.find(".prepart");
                 $prepart.hide();
                 $replyTextArea.show();
                 $replyTextArea.find('>.replytextarea').val(proposal) ;
             }

             $scope.hideReplyArea  = function($event){
                 var $currDiv = $($event.target).parent().parent();
                 var $replyTextArea = $currDiv.find(".replytext");
                 var $prepart = $currDiv.find(".prepart");
                 if($prepart.find('>.proposal').text()){
                     $prepart.show();
                 }
                 $replyTextArea.hide();
             }

             $scope.addReply = function($event){
                 var $currDiv = $($event.target).parent().parent();
                 var $replyTextArea = $currDiv.find(".replytext");
                 var $prepart = $currDiv.find(".prepart");
                 var replyContent = $replyTextArea.find('>.replytextarea').val();

                 if (replyContent) {
                     $($scope.feedbacks).each(function () {
                         if (this.createTime == $event.target.id) {
                             this.reply = replyContent;
                             var url = "work?action=addreply";
                             
                             $http({
                                url:url,
                                method: "POST",
                                data: {createtime: this.createTime, reply: this.reply}
                             }).success(function () {
                                 $replyTextArea.hide();
                                 $prepart.show();
                                 $prepart.find('>.proposal').text(replyContent);
                             });
                         }
                     });
                 }
             }

            $scope.showFeedbacks();
         }

    </script>
    <title>FeedBack</title>
</head>
<body>

<div class="container" ng-controller="feedbackCtrl">
    <div class="mh_main">
        <div class="feedback_logo"><i class="feedbacktitle">意见反馈</i></div>
    </div>
    <div>
       <h2><a href="index.html" class="homepage">返回主页 »</a></h2 >
    </div>
<div id="main" class="span10">
    <div class="comment" ng-repeat = "feedback in feedbacks">
        <div class="avatar">
           <img src="images/visitor.jpg" style="width: 50px;height:50px ">
        </div>
        <div class="name">{{feedback.userName}}</div>
        <div class="date" title="Added at 06:18 on 23 Nov 2010"><feedback class="createTime">{{feedback.createTime |date:'yyyy-MM-dd HH:mm:ss'}}</feedback></div>
       <p>

            <pre class="proposalcontent"><span class="question"><b>Q:</b></span>{{feedback.proposal}}</pre>
        </p>
        <p class="reply" ng-click="showReplyArea($event,feedback.reply)"> reply: </p>
        <div  class="replytext hide">
            <textarea class="replytextarea" rows="5" ></textarea>
            <input type="submit" id="{{feedback.createTime}}" ng-click="addReply($event)" value="提交">
            <input type="submit" ng-click="hideReplyArea($event)" value ="取消" >
        </div>
        <pre class="prepart" ng-show=feedback.reply>
            <p class="proposal">{{feedback.reply}}</p>
        </pre>
    </div>

    <div id="addCommentContainer">
        <p>添加反馈意见</p>
        <form id="addCommentForm" ng-submit="addFeedback()">
            <div>
                <label for="name">您的名字</label>
                <input type="text" name="name" id="name" ng-model="newFeedback.username" required>

                <label for="email">您的邮箱</label>
                <input type="email" name="email" id="email"  ng-model="newFeedback.email">

                <label for="body">意见内容</label>
                <textarea name="body" id="body" rows="5"  ng-model="newFeedback.proposal" required></textarea>

                <input type="submit" id="submit" value="提交">
            </div>
        </form>
    </div>

</div>
</div>
</body>
</html>